<script setup>
import { useStore } from 'vuex';
import HelloWorld from '../components/HelloWorld.vue';

const store = useStore()
store.dispatch('setName', 'John')

</script>

<template>
    <HelloWorld />
</template>

<style lang="scss">
</style>    