<script setup>
import { NButton } from 'naive-ui'
import { computed, ref } from '@vue/reactivity';
import { useStore } from 'vuex';

const newName = ref()
const store = useStore()
const name = computed(() => {
    return `Hello ${store.state.hello.name}`
})

const setName = () => {
    store.dispatch('setName', newName.value)
}
</script>

<template>
    <h3>{{name}}</h3>
    <input type="text" v-model="newName" @keyup.enter="setName">
    <n-button @click="setName">Change Name</n-button>
</template>

<style lang="scss">

</style>